.organize {
  margin-bottom: 220px;
  margin-top: 220px;
}

.organize-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.organize__text {
  margin-top: 40px;
}

.organize__text-title {
  color: var(--secondary-text-color);
  max-width: 335px;
}

.organize__text-paragraph {
  color: var(--primary-subtitle-color);
  max-width: 530px;
}

.organize__text-btn {
  padding: 10px 25px;
  margin-top: 40px;
}

.partners__btn:hover {
  padding: 9px 25px;
}

.organize__img {
  max-width: 660px;
}

@media (max-width: 768px) {
  .organize-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 378px;
  }

  .organize__text-title{
    margin: auto;
    margin-bottom: 20px;
  }

  .organize__text-btn{
    margin-bottom: 40px;
  }
}